{% load my_filters %}
{% for hora in horaclasep %}
<tr class="cal-row">
    <td class="cal-hour">{{ hora }}:00</td>
    {% for dia in diasp %}
    <td class="cal-cell">
        {% for clase in clasep %}
            {% if clase.dia_semana == dia and clase.hora_inicio.hour == hora %}
                <div class="cal-event clase-salon asistencia-{{ horario_color|get_item:clase.id }}">
                    <p>Clase</p>
                    <small style="display:block;opacity:.9">
                        {{ horario_estado|get_item:clase.id|title }}
                    </small>
                </div>
            {% endif %}
        {% endfor %}
    </td>
    {% endfor %}
</tr>
{% endfor %}